li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    padding: 30px;
    margin: 10px;
}

h2 {
    margin: 0;
}